# logstash.yml
################################################################################
# Version: 21.03                                                               #
# Required: Yes (DOCKER ONLY)                                                   #
# Description: This is a required file for a Docker installation               #
#                                                                              #
################################################################################
#
http.host: "0.0.0.0"
#path.config: etc/pfelk/logstash/pipeline/pipelines.yml
xpack.monitoring.elasticsearch.hosts: [ "https://es01:9200" ]
xpack.monitoring.elasticsearch.password: changeme
xpack.monitoring.elasticsearch.username: elastic
xpack.monitoring.elasticsearch.ssl.certificate_authority: /certs/ca/ca.crt

## X-Pack security credentials
xpack.monitoring.enabled: true
